html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(133, 141, 142);
}

.App {
  width: 750px;
  background: plum;
  border: 2px solid springgreen;
  border-radius: 10px;
  padding: 1rem;
}

.todoInput {
  width: 100%;
  padding: 15px 17px;
  border-radius: 5px;
  border: 2px solid steelblue;
  font-size: medium;
  font-weight: bold;
  font-size: 18px;
  color: darkblue;
  margin-bottom: 10px;
}

.todo-list {
  border: 3px solid springgreen;
  width: 100%;
  height: 150px;
}
